@import url("media-queries.css");

@font-face {
  font-family: SamsungSharpSans;
  src: url("../fonts/SamsungSharpSans-Medium.otf") format("opentype");
}
@font-face {
  font-family: SamsungSharpSans-Regular;
  src: url("../fonts/SamsungSharpSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: SamsungSharpSansBold;
  src: url("../fonts/SamsungSharpSans-Bold.otf") format("opentype");
}

body {
  margin: 0;
  background-image: url("../img/BG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.active {
  display: block !important; 
  opacity: 1 !important; 
}
.stop-animation {
  animation: none !important; 
}

.frame_text {
  font-family: "SamsungSharpSans", sans-serif;

  font-size: 16px;
  display: none; 
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

@keyframes enlarge-shrink {
  0%,
  100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
}

.navigation .left button img,
.navigation .right button img {
  width: 16px;
  animation: enlarge-shrink 2s infinite ease-in-out; 
}

.frame_text_container {
  margin-top: 200px;
  opacity: 0;
  animation: slide-opacity 2s ease-in-out 3s forwards;
  overflow: hidden;
  line-height: 1.8;
  height: 200px;
}
.read_more {
  color: grey;
  font-family: "SamsungSharpSans", sans-serif;

  font-size: 16px;
}

@keyframes slide-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-size: 31px;
  font-family: "SamsungSharpSans", sans-serif;
  color: white;
  flex-grow: 1;
  margin-left: 0;
  line-height: 1;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}

.logo {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.samsung_logo {
  max-width: 215px;
  /* position: absolute;
  left: -250px;
  top: 100px; */
  transform: translate(-250px, 100px);
  animation: slide-in 2s ease-in-out 0.3s forwards;
  z-index: 5;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.overlay {
  background: white;

  
  width: 50%;
  height: 100%;
  z-index: 2;
  animation: frame-in 2s ease-in-out 1s forwards;
  transform: translate(-100%, 0);
}
.test {
  position: relative;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; 
  width: 50%; 
  height: 100%; 
  background-color: white;
  z-index: 0; 
  transition: left 0.5s ease; 
  transition: none;
  animation: frame-in-overlay 2s ease-in-out 2.6s forwards;
  z-index: 2;
}



@keyframes slideIn-gallery {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.paddings {
  padding: 15px;
}
.frame_collection {
  width: 100%;
  height: 1100px;
  object-fit: cover;
  opacity: 0;
  display: none;
  transition: opacity 1s ease, transform 1s ease;
  transform: translate(5px, -82px);
}

.frame_collection.active {
  display: block;
  opacity: 0.5;
}

.some {
  opacity: 0.5;
}

@keyframes frame-in-overlay {
  0% {
    right: -100%; 
  }

  100% {
    left: 0; 
  }
}

.navigation {
  z-index: 3;
  display: flex;
  /* margin-top: 200px; */
  align-items: center;

  display: none;
  opacity: 0;
}
.counter {
  font-family: "SamsungSharpSansBold", sans-serif;
  font-size: 32px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btm_btn {
  position: static;
  display: flex;
  border-radius: 58px;
  width: 305px;
  background-color: white;
  border-color: black;
  height: 124px;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 15px;
  font-size: 35px;
  font-family: "SamsungSharpSansregular", sans-serif;
  z-index: 55;
  animation: pulse-like-heart 2s infinite ease-in-out;
  display: none;
  margin-top: 15px;
}

@keyframes pulse-like-heart {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1); 
  }
}

.all {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}
.frame {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: none;
}

@keyframes frame-in {
  0% {
    right: -100%; 
  }

  100% {
    left: 0; 
  }
}
@keyframes frame-in-parg-right {
  0% {
    transform: translate(0); 
    opacity: 1; 
  }

  100% {
    transform: translate(250px); 
    opacity: 0; 
  }
}

@keyframes frame-in {
  0% {
    right: -100%; 
  }

  100% {
    left: 0; 
  }
}
@keyframes frame-in-parg-left {
  0% {
    transform: translate(0); 
    opacity: 1; 
  }

  100% {
    transform: translate(-250px); 
    opacity: 0;
  }
}

.all1 {
  width: 100%;
  display: flex;
  height: 1000px;
}
.container {
  /* padding: 35px; */
  width: 1600px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  border: 4px solid #000;

  
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}
.description {
  margin-top: 120px;
  max-width: 475px;
  font-family: "SamsungSharpSansBold", sans-serif;
  font-size: 36px;

  position: relative;
  z-index: 5;
}

.description_text_first {
  animation: slide-in-descr 2s ease-in-out 1.5s forwards;
  /* left: -510px;
  top: 100px; */
  transform: translate(-120%, 100px);
}

@keyframes slide-in-descr {
  0% {
    transform: translate(-120%, 100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.description_text_second {
  animation: slide-in-descr-2 2s ease-in-out 1.6s forwards;
  transform: translate(-120%, 100px);
}

@keyframes slide-in-descr-2 {
  0% {
    transform: translate(-120%, 100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.description_text_third {
  animation: slide-in-descr-3 2s ease-in-out 1.7s forwards; 
  transform: translate(-120%, 100px);
}

@keyframes slide-in-descr-3 {
  0% {
    transform: translate(-120%, 100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.bottom_title {
  z-index: 1;

  margin-top: 35px;
}

.btm_title {
  font-family: "SamsungSharpSans-Regular", sans-serif;
  font-size: 95px;
  color: white;
  font-weight: 400;
  transform: translate(-120%);
}
.btm_par_medium {
  font-family: "SamsungSharpSansBold", sans-serif;
  font-size: 55px;
  color: white;
}

.btm_title_bold {
  font-family: "SamsungSharpSansBold", sans-serif;
}
.btm_par_last {
  font-family: "SamsungSharpSansMedium", sans-serif;
  color: grey;
  font-size: 16px;
  position: relative;
  z-index: 55;
  padding-bottom: 20px;
}

@keyframes slide-in {
  0% {
    transform: translate(-250px, 100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* .btm_title {
  left: -700px;
  top: -200px;
  animation: slide-in-btm 2s ease-in-out 0.3s forwards;
} */

.btm_par_medium {
  transform: translate(-100%);
  /* animation: slide-in-btm 2s ease-in-out 0.3s forwards; */
}

@keyframes slide-in-btm {
  0% {
    transform: translate(-100%); 
    opacity: 0; 
  }

  100% {
    opacity: 1; 
    transform: translate(0);
  }
}

@keyframes slide-in-2 {
  0% {
    left: -220px;
    opacity: 0; 
    top: 150px; 
  }
  50% {
    opacity: 1; 
    left: 0; 
    top: 150px; 
  }
  100% {
    opacity: 1; 
    left: 0; 
    top: 40px; 
  }
}

@keyframes slide-in-3 {
  0% {
    left: -220px; 
    opacity: 0; 
    top: 200px; 
  }
  50% {
    opacity: 1; 
    left: 0; 
    top: 200px; 
  }
  100% {
    opacity: 1; 
    left: 0; 
    top: 80px; 
  }
}
